<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="./assets/css/burger-style.css" type="text/css" />
        <title>MVC with Burgers!</title>
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/script.js"></script>
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	
	</head>
    <body class="purple lighten-3">
        {{{ body }}}
       
    </body>
</html>