<div class="contaniner center-align">
    <img src="assets/img/burger.gif" alt="burger gif" width= 200px>
    <h1 class="main-title">Burger Collector</h1>
</div>


    <div class="container row">
        <div class="col s6 center-align card-panel burger-list teal lighten-5">
            <h5>Burgers I want to try?</h5>
        <ul id="burgersFalse">
            <p>------</p>
            {{#each burger_data}}
                {{#unless this.devoured}}
                    
                        <p class="right-align">{{this.burger_name}}
                        <button type="submit" value={{this.id}} class="eat-form waves-effect waves-light btn">Eat It!</button>
                   
                    </p>
                {{/unless}}
            {{/each}}
        </ul>
        </div>
        <div class="col s6 center-align card-panel burger-list teal lighten-5">
            <h5>Burgers I have eaten!</h5>
        <ul id="burgersTrue">
            <p>------</p>
            {{#each burger_data}}
                {{#if this.devoured}}

                        <p class="right-align">{{this.burger_name}}
                        <button type="submit" value={{this.id}} class="unEat-form waves-effect waves-light btn">X</button>
                   
                {{/if}}
            {{/each}}
        </ul>
        </div>
    </div>


<div class="container center-align">
<div class="row">
    <div class="col l3 m2 s1">&nbsp;</div>
    <div class="col l6 m8 s10">
        <h4>Add a Burger</h4>
        <form class="create-form">
         <div class="teal lighten-5 form-group text-input-dl card-panel">
            <label for="burgerName">Burger Name:</label>
            <input type="text" id="burgerName" name="name">
        </div>
            <button type="submit" class="button-pad-dl waves-effect waves-light btn orange darken-3">Add Burger</button>
        </form>
    </div>
    <div class="col l6 m2 s1">&nbsp;</div>
</div>
</div>